@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* todo: remove after fixing it */
  :root {
    --hex-background: #ffffff;
    --background: 0, 0%, 100%;
    --hex-foreground: #213565;
    --foreground: 222, 51%, 26%;

    --hex-card: #ffffff;
    --card: 0, 0%, 100%;
    --hex-card-foreground: #0a0a0a;
    --card-foreground: 0, 0%, 3.9%;

    --hex-popover: #ffffff;
    --popover: 0, 0%, 100%;
    --hex-popover-foreground: #0a0a0a;
    --popover-foreground: 0, 0%, 3.9%;

    --hex-primary: #171717;
    --primary: 0, 0%, 9%;
    --hex-primary-foreground: #fafafa;
    --primary-foreground: 0, 0%, 98%;

    --hex-secondary: #244466;
    --secondary: 223, 40%, 28%;
    --hex-secondary-foreground: #ffffff;
    --secondary-foreground: 0, 0%, 100%;

    --hex-muted: #f4f4f4;
    --muted: 0, 0%, 96.1%;
    --hex-muted-foreground: #737373;
    --muted-foreground: 0, 0%, 45.1%;

    --hex-accent: #f4f4f4;
    --accent: 0, 0%, 96.1%;
    --hex-accent-foreground: #171717;
    --accent-foreground: 0, 0%, 9%;

    --hex-destructive: #cb4242;
    --destructive: 0, 84.2%, 60.2%;
    --hex-destructive-foreground: #fafafa;
    --destructive-foreground: 0, 0%, 98%;

    --hex-border: #213565;
    --border: 222, 51%, 26%;

    --hex-border-accent: #FFFFFF;
    --border-accent: 0, 0%, 100%;

    --hex-border-destructive: #cb4242;
    --border-destructive: 0, 84.2%, 60.2%;

    --hex-input: #e5e5e5;
    --input: 0, 0%, 89.8%;

    --hex-ring: #0a0a0a;
    --ring: 0, 0%, 3.9%;

    --hex-chart-1: #e55930;
    --chart-1: 12, 76%, 61%;
    --hex-chart-2: #2ba68c;
    --chart-2: 173, 58%, 39%;
    --hex-chart-3: #2f4e66;
    --chart-3: 197, 37%, 24%;
    --hex-chart-4: #f0d366;
    --chart-4: 43, 74%, 66%;
    --hex-chart-5: #f3bc7e;
    --chart-5: 27, 87%, 67%;

    --hex-menu-icon: #6d758d;
    --menu-icon: 220, 9%, 47%;
    --hex-icon-default: #ededf5;
    --icon-default: 217, 15%, 94.1%;
  }

  .dark {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    --menu-icon: 220, 9%, 60%;

    --icon-default: 217, 15%, 94.1%;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply bg-background text-foreground;
    @apply min-w-full !important;
  }
}
